.limitResultsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.limitResultsFooter {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}