.searchContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
}
.search {
    width: 100%;
    border: 1px solid var(--color-secondary);
    padding: 1rem;
    border-radius: .5rem;
    max-width: 250px;
}