.tooltipLogoContainer {
    display: inline-block;
    padding-left: .2rem;
}

.tooltipLogo {
    background-color: var(--color-alternative-2);
    width: .6rem;
    height: .6rem;
    padding: .6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    color: white;
    border-radius: 100%;
}

[data-tooltip]::before {
    font-weight: lighter;
    background-color: var(--color-alternative-2);
    padding: .5rem;
    top: 12%;
    position : absolute;
    content : attr(data-tooltip);
    opacity : 0;
}

[data-tooltip]:hover::before {
    opacity : 1;
}

[data-tooltip]:not([data-tooltip-persistent])::before {
    pointer-events: none;
}